<div class="wrapper">
    <!-- hamburger menu navigation-->
    <div class="navbar navbar-zoom">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse">
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                        <div class="icon-bar"></div>
                    </button>
                    <!-- a.navbar-brand(href="/") <dz:site_name>-->
                </div>
                <div class="navbar-collapse collapse">
                    <div class="nav navbar-nav navbar-left">
                        <div class="main-menu">
                            <ul>{{main_menu_items}}</ul>
                        </div>
                    </div>
                    <div class="nav navbar-nav navbar-right">
                        <div class="system-menu-outer">{{system_menu}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav2">
        <div class="container">
            <div class="app-menu">{{app_menu}}</div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            {{stdout}}
            {{alerts}}
            {{content}}
        </div>
    </div>
    <div class="push"></div>
</div>
<div class="bottom">
    <div class="container">
        <div class="footer">
            <div class="footer-left">
                <ul>
                    <li><a href="/privacy.html">Privacy</a></li>
                    <li><a href="/terms.html">Terms</a></li>
                    <li><a href="/contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-right"><a href="/">{{site_name}}</a></div>
        </div>
    </div>
</div>

<script src="/static/zoom/jquery/jquery.min.js"></script>
<script src="/static/zoom/jquery-ui/jquery-ui.min.js"></script>

{{standard_zoom_tail_tags}}
