
stages:
  - qa
  - test
  - publish
  - build

whitespace:
  stage: qa
  image: "python:3.7"
  script:
    - which git || (apt-get update -y && apt-get install -y git)
    - git --no-pager diff --check

python-3.7:
  stage: test
  image: "python:3.7"
  services:
    - mariadb:latest
  variables:
    MYSQL_DATABASE: zoomtest2
    MYSQL_ROOT_PASSWORD: root
  script:
    - /bin/bash tests/run_in_gitlab_ci.sh
  artifacts:
    paths:
    - tests/artifacts/
    expire_in: 1 week
    when: on_failure

python-3.8:
  stage: test
  image: "python:3.9"
  services:
    - mariadb:latest
  variables:
    MYSQL_DATABASE: zoomtest2
    MYSQL_ROOT_PASSWORD: root
  script:
    - /bin/bash tests/run_in_gitlab_ci.sh
  artifacts:
    paths:
    - tests/artifacts/
    expire_in: 1 week
    when: on_failure

python-3.9:
  stage: test
  image: "python:3.9"
  services:
    - mariadb:latest
  variables:
    MYSQL_DATABASE: zoomtest2
    MYSQL_ROOT_PASSWORD: root
  script:
    - /bin/bash tests/run_in_gitlab_ci.sh
  artifacts:
    paths:
    - tests/artifacts/
    expire_in: 1 week
    when: on_failure

python-3.10:
  stage: test
  image: "python:3.10"
  services:
    - mariadb:latest
  variables:
    MYSQL_DATABASE: zoomtest2
    MYSQL_ROOT_PASSWORD: root
  script:
    - /bin/bash tests/run_in_gitlab_ci.sh
  artifacts:
    paths:
    - tests/artifacts/
    expire_in: 1 week
    when: on_failure

pypi:
  stage: publish
  trigger: dsilabs/zoom-publisher
  only:
    - tags

docker:
  stage: build
  trigger: dsilabs/docker-zoom
  only:
    - tags
