# The order of packages is important as pip processes them in order
PyMySQL>=0.10.1
bcrypt>=1.1.1
passlib>=1.7.1
markdown>=2.6.1
Pillow>=1.0
faker
docopt
werkzeug==2.2.2
croniter
pypugjs>=5.9.12
libsass>=0.19.4
pytz>=2024.1
pytzdata==2019.3
requests>=2.25.1
Flask==2.2.5
livereload==2.5.1
