doctype html
html
  head

    title <dz:page_title>
    | <meta name="viewport" content="width=device-width, initial-scale=1.0">
    | <meta name="keywords"  content="<dz:keywords>">
    | <meta name="description" content="<dz:description>">
    | <meta name="author" content="<dz:author>">
    |

    // standard css
    | <link rel="stylesheet" href="/static/zoom/bootstrap/bootstrap.min.css">
    | <link rel="stylesheet" href="/themes/default/css/content.css">
    | <link rel="stylesheet" href="/themes/default/css/widget.css">
    | <link rel="stylesheet" href="/themes/default/css/print.css" media="print">
    | <link rel="stylesheet" href="/themes/default/css/style.css">
    | <link rel="stylesheet" href="/themes/default/css/social.css">
    | <link rel="stylesheet" href="/static/zoom/jquery-ui/themes/smoothness/jquery-ui.min.css">
    | <link rel="stylesheet" href="/themes/default/css/navigation.css">
    | <link rel="stylesheet" href="/themes/default/css/buttons.css">
    |
    // app specific css
    | <dz:styles>
    | <dz:css>
    |
    // app specific head
    | <dz:head>
    |
    // tracker
    | <dz:tracker>
    |

  block body

  // tail
  | <dz:tail>
  |

  // js
  | <script src="/static/zoom/jquery/jquery.min.js"></script>
  | <script src="/static/zoom/jquery-ui/jquery-ui.min.js"></script>
  | <script src="/static/zoom/bootstrap/bootstrap.min.js"></script>
  | <script src="/static/zoom/zoom.js"></script>

  <dz:libs>
  <dz:js>

  | <script src="/static/zoom/fouc.js"></script>
