
.bottom
  .footer
    .footer-left
      ul
        li
          a(href="/privacy.html") privacy policy
        li
          a(href="/terms.html") terms of use
        li
          a(href="/contact.html") contact us
    .footer-right
      <dz:owner_link>
