
.bottom
  .container
    .footer
      .footer-left
        ul
          li
            a(href="/privacy.html") Privacy
          li
            a(href="/terms.html") Terms
          li
            a(href="/contact.html") Contact
      .footer-right
        a(href="/") <dz:site_name>
