
// hamburger menu navigation
.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(type=button data-toggle=collapse data-target=".navbar-collapse")
      .icon-bar
      .icon-bar
      .icon-bar
    a.navbar-brand(href="/") <dz:site_name>
  
  .navbar-collapse.collapse
    ul.nav.navbar-nav <dz:main_menu_items>
    ul.nav.navbar-nav.navbar-right <dz:system_menu_items>
    .user-info
      span.user_info <dz:username>

.nav2
  .app-menu <dz:app_menu>
