<div class="files-manager" id="files-manager" data-mode="{{mode}}">
	<div class="--fm-files-area">
		<div class="--fm-form-container">
			<form id="--fm-upload-form" method="POST" action="/content/files/upload">
                <input id="--fm-csrf" type="hidden" name="csrf_token" value="{{csrf_token}}"/>
                <input id="--fm-upload-field" name="file" type="file" multiple="true"/>
            </form>
		</div>
		<div class="--fm-files-list">
			{{file_list}}
			<div id="--fm-drop-area" class="--fm-file-item --fm-label-container" style="display: none;">
				<i class="fa fa-upload"></i>
				<label id="--fm-upload-label" for="--fm-upload-field">
					Drop or <strong>select</strong>
				</label>
			</div>
		</div>
	</div>
</div>
