.content .field_label { display: none; position: relative; }
.content .field_edit { width: 100%; }
.content .field_edit table { width: 100%;}
.content .field_edit table td { width: 100%; }
.content .field_edit table td .images-field { width: 100%; position: relative; }
.content .field_edit table td .dropzone {
    position: absolute; min-width: 50%; background: #ddd; width: 100%;
    min-height: 400px;
}
.content .field_edit table td .dz-message { padding-top: 125px; }
.content .field_edit table td .dz-image-preview {
    background: #ddd; border-radius: 10px;
}
.content .field_edit table td .dz-image { border-radius: 10px; }