extends ../parts/base
block body
  body
    .wrapper
      include ../parts/nav
      .container
        .content
          <dz:stdout>
          <dz:alerts>
          <dz:content>
      .push
    include ../parts/footer
