extends ../parts/base
block body
  body
    .wrapper
      include ../parts/nav
      .container
        .jumbotron
          h1 Zoom
          p Build fast dynamic web apps with less effort, less code and more fun.
          p
            a.btn.btn-success.btn-lg(role="default") Get started with Zoom
        .content
          <dz:stdout>
          <dz:alerts>
          <dz:content>
      .push
    include ../parts/footer
