body {
    margin: 0;
    padding: 0;
    font: 20px 'Roboto Mono', monospace;
    font-weight: 100;
    height: 100%;
    color: #0f1419;
}

h1 {
    padding-top: 0.75em;
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 0.25em;
    color: #3b6492;
}

div.info {
    display: table;
    background: #e8eaec;
    padding: 20px 20px 20px 20px;
    border: 1px dashed black;
    border-radius: 10px;
    margin: 0px auto auto auto;
    font: 20px Courier;
}

div.info p {
    display: table-row;
    margin: 5px auto auto auto;
}

div.info p span {
    display: table-cell;
    padding: 10px;
}

div.smaller p span {
    color: #3D5266;
}

h1, h2 {
    font-weight: 100;
}

#footer {
    position: fixed;
    bottom: 36px;
    width: 100%;
    font-size: 0.8em;
}

#center {
    width: 400px;
    margin: 0 auto;
    font: 12px Courier;
    text-align: center;
}