.chart-value {
    font-size: 2rem;
    font-weight: 600;
    z-index: 100;
    color: #3c4b64;
}
.chart-title {
    z-index: 100;
    color: #3c4b64;
}
.chart-chart-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70%;
}
.chart-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border: 0;
    height: 100%;
}
