<div class="container">
  <div class="row" style="margin-top: 4em">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><dz:site_name></h3>
        </div>
        <div id="login-panel" class="panel-body">
          <dz:form>
            <div class="form-group">
              <input class="form-control" placeholder="Username" id="username" name="username" type="text" value="{self.username}">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" id="password" name="password" type="password" value="">
            </div>
            {self.remember_me_checkbox}
            {self.referrer}
            <input class="btn btn-lg btn-success btn-block" type="submit" name="login_button" id="login_button" value="Login">
            {self.registration_link}
            {self.forgot_password}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
