.progress-card-body
  .value {percent}%
  .title {title}
  .progress.progress-white.progress-xs.my-2
    .progress-bar(role="progressbar" style="width: {percent}%; background-color: {color};" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100")
  small.text-muted {hint}
