!!! 5
head
  include _partials/head
body
  | {{impersonation_notice}}
  .wrapper
      include _partials/nav
      .container
          .content {{standard_zoom_content_tags}}
      .push
    include _partials/footer
  include _partials/tail
