!!!
html
  body
    table(width="100%")
      tr
        td(align="left)
          img(src="{logo_url}" alt="banner logo"_)
      tr
        td(align="left)
          font(face="helvetica,arial,freesans,clean,sans-serif" size="2") {message}
