!!! 5
head
  include _partials/head
body
  .wrapper
      include _partials/nav
      .container
          .content
            h1 Welcome to ZoomFoundry
            p The enterprise web framework for professionals with deadlines.
      .push
    include _partials/footer
  include _partials/tail
