.top-part
  .page-subtitle Hover over icon to see name.  Click icon to copy to clipboard.
  .copied-text
    #copied-message Copied!
  .search-filter
    label Search
    input#searchBox(name="search" type="text")
h2 Bootstrap Icons 1.7.2
p {}
h2 FontAwesome 4
p {}
