
title {{site_name}}
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="author" content="{{site_owner}}")
link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")

| {{requires "bootstrap4.5"}}

| {{styles}}

link(rel="stylesheet" href="/css/layout.css")
link(rel="stylesheet" href="/css/nav.css")
link(rel="stylesheet" href="/css/content.css")
link(rel="stylesheet" href="/css/widget.css")
link(rel="stylesheet" href="/css/components.css")
link(rel="stylesheet" href="/css/style.css")
link(rel="stylesheet" href="/css/print.css")

| {{css}} {{tracker}} {{head}}
