/* widget.css */
.field {
  overflow: visible;
  padding: 2px 0;
  line-height: 2em;
  min-height: 2em;
  display: block;
  width: 100%;
  font-size: 14px;
  clear: both;
}

.field_label {
  float: left;
  text-align: right;
  padding-right: 10px;
  line-height: 2em;
  min-width: 25%;
  width: 25%;
  color: #666;
}

.field_edit, .field_show {
  float: left;
  width: 70%;
  line-height: 2em;
  min-height: 2em;
  margin-bottom: 0.25em;
}

.field_show > img, .field_edit > img {
  border: 1px solid #dddddd;
  width: 200px;
}

.field_edit .images-field, .field_show .images-field {
  border-radius: 4px;
  border-color: red;
  background: yellow;
  border: dashed thin #ccc;
  background: #eee;
  display: block;
}
.field_edit .images-field .dropzone, .field_show .images-field .dropzone {
  width: 500px;
  padding: 10px;
  min-height: 105px;
  height: 105px;
  display: table-cell;
  background: none;
  border: none;
}
.field_edit .images-field .dropzone .dz-preview, .field_show .images-field .dropzone .dz-preview {
  margin: 10px 15px;
}

.field_show .images-field {
  background: none;
  border: none;
}

.field_edit input, .field_edit select, .field_edit textarea {
  border: 1px solid #ccc;
  height: 2em;
  display: table-cell;
  margin-right: 4px;
}
.field_edit ul.checkbox_field {
  padding-left: 0;
}
.field_edit .input-group input {
  border-radius: 0;
}
.field_edit .input-group input:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.field_edit .input-group input:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.field_edit .textarea {
  width: 100%;
  height: 8em;
}
.field_edit .memo_field {
  cols: 60;
  min-height: 8em;
}
.field_edit .edit_field {
  width: 100%;
  min-height: 25em;
}
.field_edit .pulldown {
  height: 2em;
  min-width: 10em;
}
.field_edit .chosen-container {
  margin-right: 5px;
}
.field_edit .chosen {
  width: 300px;
  margin-right: 5px;
}
.field_edit .multiselect {
  min-height: 8em;
  min-width: 180px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 1px solid #ccc;
}
.field_edit .image-field-image {
  margin: 0;
  border-color: #C0C0C0;
  width: 200px;
  border: 1px solid #dddddd;
}
.field_edit .image-field-delete-link {
  text-align: center;
  margin: 0.5;
  width: 200px;
}
.field_edit input.checkbox_field {
  margin: 0 0.5em 2px 0;
  line-height: 2em;
  vertical-align: middle;
}
.field_edit ul.checkbox_field li {
  list-style-type: none;
  margin-right: 2em;
}
.field_edit ul.checkbox_field div {
  display: inline;
  line-height: 2em;
}
.field_edit .images_field td {
  border: 0;
}

.field_show .textarea {
  border: 0px solid #aaaaaa;
  width: 100%;
  line-height: 1.25em;
  padding-top: 0.5em;
}
.field_show .images-field {
  width: 100%;
  display: table-cell;
  border: 1px solid #ccc;
  min-height: 400px;
  width: 490px;
  border-radius: 4px;
  padding: 10px;
  border: 0;
}
.field_show .textarea h1, .field_show .textarea h2, .field_show .textarea h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.content .field_edit td {
  border: 0;
}
.content .field_edit td div.range-slider {
  width: 400px;
  margin: 0 10px;
}

.content .dropzone {
  border-radius: 10px;
  border: dashed thin #ccc;
  background: #eee;
}
.content .dropzone .dz-preview .dz-image {
  border-radius: 10px;
}

input.decimal_field, input.float_field, input.number_field {
  text-align: right;
}

select, textarea {
  border: 1px solid #ccc;
  display: inline-block;
  height: 30px;
  padding: 2px 6px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color] {
  border: 1px solid #ccc;
  display: inline-block;
  height: 30px;
  padding: 2px 6px;
  margin: 0;
  margin-right: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.uneditable-input {
  border: 1px solid #ccc;
  display: inline-block;
  height: 30px;
  padding: 2px 6px;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.content div.field_show p {
  margin: 0;
  padding: 0;
}
.content div.field_edit ul {
  margin: 0;
}
.content form {
  margin: 0;
  padding: 0;
}

input, textarea {
  font-size: 14px;
  font-family: Arial;
  width: auto;
}

select.multiselect {
  margin-top: 0.2em;
}

div input {
  padding-right: 5px;
  padding-left: 5px;
}
div textarea {
  padding: 0 5px;
}

span.radio {
  margin-right: 10px;
  display: inline;
  padding: 0;
}

.content span.radio input[type=radio] {
  display: inline;
  float: none;
  height: 1em;
  border: 0;
  margin: 2px;
  vertical-align: middle;
  position: relative;
}

select.pulldown {
  height: 29px;
  line-height: 2em;
  font-size: 14px;
}

.content fieldset {
  border: 1px solid #ccc;
  padding: 1em;
}
.content legend {
  font-size: 1em;
  padding: 0px 1em;
  color: #444;
  width: auto;
  height: 1.5em;
  line-height: 1.5em;
  margin: 0;
  border-bottom: none;
}

div.search {
  position: relative;
  display: inline;
  float: right;
  margin-right: 3px;
}
div.search form {
  display: block;
  width: 400px;
}
div.search input {
  display: inline;
  line-height: 25px;
}
div.search input.text_field {
  width: 200px;
}
div.content input.search_button {
  height: 37px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline;
}
div.search span.clear {
  position: absolute;
  right: 80px;
  top: 5px;
}
div.search span.clear a {
  display: inline;
}

@media (max-width: 560px) {
  .search {
    margin-top: 0.2em;
  }
  .search input.text_field {
    width: 40%;
  }
}
.actions {
  display: inline;
  margin: 0;
}
.actions ul {
  list-style-type: none;
  display: inline;
  margin: 0;
}
.actions ul li {
  list-style-type: none;
  display: inline;
  margin: 0;
}

.action {
  float: right;
  margin-left: 2px;
  margin-right: 2px;
}

.meta {
  color: #555;
  font-size: 0.8em;
}

.wrong {
  color: red;
  font-size: 0.8em;
  margin-right: 1em;
}

.hint {
  color: #555;
  font-size: 1em;
  line-height: 1.2em;
  margin-top: 0.42em;
  margin-left: 0px;
  font-size: 0.9em;
}

.content .alert {
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 5px;
}
.content .alert ul {
  padding: 0.5em;
  margin: 0;
}
.content .alert li {
  list-style-type: none;
  padding: 0.25em;
  margin: 0;
}
.content .alert.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.content .alert.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.content .alert.danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.content table {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
}
.content th, .content td {
  padding: 0.4em 12px 0.4em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.content th {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  color: #999;
  font-weight: normal;
  font-size: 0.9em;
  background: #f2f2f2;
}
.content .transparent {
  border: none;
  background: none;
  color: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.content .transparent th, .content .transparent td {
  border: none;
  background: none;
  color: none;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

.baselist {
  overflow-x: auto;
}
.baselist table {
  width: 100%;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-spacing: 0px;
}
.baselist table thead th {
  line-height: 25px;
  text-align: left;
  margin: 0;
  white-space: nowrap;
  vertical-align: top;
}
.baselist table thead > tr > td:first-child {
  white-space: nowrap;
}
.baselist table tbody tr {
  line-height: 25px;
}
.baselist table tbody tr:hover {
  background-color: #ecf7ff;
}
.baselist table tbody tr p {
  line-height: 1em;
}
.baselist table tbody tr a {
  color: #284a80;
  text-decoration: none;
}
.baselist table tbody tr a:visited {
  color: #284a80;
  text-decoration: none;
}
.baselist table tbody tr a:hover {
  color: #4d84bd;
  text-decoration: underline;
}
.baselist div.header {
  display: inline-block;
  width: 100%;
  color: #555;
  font-size: 16px;
  line-height: 1em;
  font-weight: bold;
  margin: 5px 0;
  margin-bottom: 5px;
}
.baselist div.header div.title {
  display: inline-block;
  padding: 10px 0 0px;
}
.baselist div.header div.actions {
  float: right;
}
.baselist div.footer {
  background: none;
  line-height: 1em;
  height: auto;
  color: #555;
  font-size: 0.8em;
  margin: 5px;
  padding: 0;
}
.baselist h1, .baselist h2, .baselist h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.baselist a.action {
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  color: #787b7c;
  margin: 0 2px;
  padding: 0px 10px;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  text-shadow: 0 0 0;
}
.baselist a.action:link, .baselist a.action:focus {
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  color: #787b7c;
  margin: 0 2px;
  padding: 0px 10px;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  text-shadow: 0 0 0;
}
.baselist a.action:hover {
  text-decoration: none;
  background: #424242;
  background: -moz-linear-gradient(top, #424242 0%, #000);
  background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#000));
  color: #fff;
  border-color: #000;
}
.baselist img {
  width: 120px;
}

.login_box {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  background-color: #f5fafa;
  border: 10px solid #9d9d9d;
  color: black;
  margin: 10px;
  line-height: 1em;
  width: 350px;
}
.login_box H1 {
  font-size: 20px;
}
.login_box li {
  display: inline;
  color: red;
}

#login-panel input[type=text], #login-panel input[type=password] {
  padding: 1em 0.6em;
  height: 3em;
}

#title_bar {
  width: 100%;
}
#title_bar .actions {
  float: right;
  sborder: 1px solid blue;
}
#title_bar .actions ul {
  margin: 0;
  padding: 0;
}
#title_bar .search {
  sborder: 1px solid purple;
}
#title_bar .search form {
  width: auto;
}
#title_bar #title_bar_left {
  width: auto;
  overflow: auto;
}
#title_bar #title_bar_right {
  width: auto;
  float: right;
  margin-top: 1.5em;
}
@media only screen and (max-width: 768px) {
  #title_bar #title_bar_left {
    width: 100%;
  }
}

.content div.group_relationships_list table {
  line-height: 1.5em;
  border: 0;
}
.content div.group_relationships_list table td {
  padding: 0 5px;
}

.activity {
  margin-bottom: 0.75em;
}

.jqstooltip {
  width: auto !important;
  height: auto !important;
}

/*# sourceMappingURL=widget.css.map */
