
.bottom
  .container
    .footer
      .footer-left
        ul
          li
            a(href="/privacy.html") Privacy
          li
            a(href="/terms.html") Terms
      .footer-right
        a(href="/") {{site_name}}
