
title {{page_title}}
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="<dz:description>")
meta(name="author" content="Dynamic Solutions Inc. https://www.dynamic-solutions.com")
link(rel="shortcut icon" type="image/png" href="/images/favicon.ico")

link(rel="stylesheet" href="/static/zoom/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="/static/zoom/jquery-ui/themes/smoothness/jquery-ui.min.css")
{{standard_zoom_head_tags}}
link(rel="stylesheet" href="/css/footer.css")
